footer {
    background: #111111;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 100%;

    .footer_name {
        color: white;
        font-size: 15px;
        text-align: center;

    }
}